@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap')
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Inter', sans-serif
    color: rgba(255, 255, 255, 0.8)

body
    height: 100%

.app
    min-height: 100vh
    position: relative
    background-color: #10162f
        
    .navbar
            position: fixed
            left: 0
            top: 0
            height: 100vh
            background-color: #0a0e1f
            width: 65px
            display: flex
            flex-direction: column
            align-items: center
            padding-top: 40px

            .img_container
                img
                    width: 20px 


            .nav_links_container
                display: flex
                align-items: center
                height: 100%

                ul
                    transform: translateY(-90px)
                    display: flex
                    flex-direction: column
                    gap: 30px
                    list-style: none
                    
                    li

                        i, p
                            color: #535bf2
                            text-decoration: none
                        p
                            display: none
                        
                        i
                            font-size: 20px
    
    .home
        margin-left: 65px
        width: 100%
        min-height: 100vh
        background-color: #10162F
        max-width: calc(100% - 65px)

    .home, .watch

        .header_container::-webkit-scrollbar
            display: none
             
        .header_container
            width: 100%
            height: 850px
            overflow: hidden
            position: relative

            .header_controls
                display: none

            .header_navigation
                position: absolute
                bottom: 100px
                left: 50%
                transform: translateX(-50%)
                z-index: 2
                display: flex
                gap: 10px
                    
                .nav_header
                    width: 85px
                    height: 25px
                    border-radius: 6px
                    border: 2px solid rgba(255, 255, 255, 0.8)
                    transition: 0.3s ease-out

                .nav_header:hover
                    cursor: pointer
                    background-color: rgba(255, 255, 255, 0.3)   
            
            .header_wrapper
                height: 100%
                position: relative
                display: flex
                transition: 1s ease
                   
                .header_movie
                    height: 100%
                    min-width: 100%
                    background-size: cover
                    background-position: center
                    position: relative

                    .header_filter1
                        position: absolute    
                        left: 0
                        top: 0
                        width: 100%
                        height: 100%
                        background: rgb(2,0,36)
                        background: linear-gradient(90deg, rgba(16,22,47,1) 0%, rgba(63,94,251,0) 60%)
                    
                    .header_filter2
                        position: absolute    
                        left: 0
                        top: 0
                        width: 100%
                        height: 100%
                        background: rgb(2,0,36)
                        background: linear-gradient(0deg, rgba(16,22,47,1) 0%, rgba(63,94,251,0) 50%)
                    

                    .header_movie_infos
                        position: absolute
                        width: 50%
                        min-width: 500px
                        max-width: 750px
                        height: 100%
                        left: 0
                        top: 0
                        display: flex
                        flex-direction: column
                        justify-content: center
                        padding-left: 100px



                        h2
                            text-transform: uppercase
                            font-size: 52px
                            font-weight: 700
                            margin-bottom: 10px
                       
                        p 
                            font-size: 15px
                            font-weight: 400
                            color: rgba(255, 255, 255, 0.7)

                        span
                            display: flex
                            margin-top: 20px
                            align-items: center
                            margin-bottom: 20px

                            #slash
                                height: 25px
                                background-color: rgba(255, 255, 255, 0.7)
                                border: none
                                width: 2px
                                margin-right: 10px

                            span
                                text-transform: uppercase
                                font-size: 13px
                                letter-spacing: 1.5px
                                font-weight: 500
                                padding: 1px 6px
                                border: 2px solid rgba(255, 255, 255, 0.7)
                                color: rgba(255, 255, 255, 0.7)
                                border-radius: 2px
                                margin: 0
                                margin-right: 5px
                            
                            p
                                color: rgba(255, 255, 255, 0.8)
                                font-weight: 700
                                margin-right: 10px

                        .about_btn
                            width: 150px
                            height: 40px
                            background-color: transparent
                            border: 2px solid #535bf2
                            color: #535bf2
                            font-size: 15px
                            font-weight: 700
                            border-radius: 6px
                            display: flex
                            justify-content: center
                            align-items: center
                            text-decoration: none
                            transition: 0.3s ease

                        .about_btn:hover
                            background-color: #535bf2
                            color: rgba(255, 255, 255, 0.7)
                            box-shadow: 0px 0px 20px 4px #535bf2
                                
                        
        .carousel_container::-webkit-scrollbar
            display: none
            
        .carousel_container
            margin-left: 20px
            position: relative
            margin-top: -50px

            h3  
                text-transform: uppercase
                font-weight: 500
                margin-left: 30px
                margin-bottom: 10px
            
            .carousel
                margin-bottom: 60px
            
            .carousel_wrapper
                border-radius: 20px
                overflow: hidden
                position: relative        
                
                .movies
                    display: flex
                    gap: 10px
                    transition: 1s ease
                #move_left
                    left: 0
                
                #move_right
                    right: 0
                    
                #move_left, #move_right
                    position: absolute
                    top: 0
                    z-index: 2
                    width: 55px
                    height: 100%
                    background-color: rgba(0, 0, 0, 0.7)
                    border: none
                    opacity: 0
                    transition: 0.2s
    
                    i
                        font-size: 26px
                        transition: 0.4s ease
                    
                    i
                        transform: scale(2)

                #move_left:hover, #move_right:hover
                    cursor: pointer 
                    opacity: 1
                            
                .movie
                    height: 219.39px
                    border-radius: 20px
                    overflow: hidden
                    position: relative
                   
                    img
                        
                        height: 100%
                        transition: 0.3s ease

                    .movie_info
                        position: absolute
                        width: 100%
                        bottom: -40px
                        left: 0
                        z-index: 2
                        display: flex
                        justify-content: space-between
                        align-items: center
                        padding-inline: 20px
                        height: 40px
                        background: rgb(9,1,37)
                        background: linear-gradient(0deg, rgba(9,1,37,0.9051995798319328) 90%, rgba(63,94,251,0) 100%)
                        opacity: 0
                        transition: 0.3s ease                           
                                
                .movie:hover
                    cursor: pointer

                    img
                        transform: scale(1.1)

                    .movie_info
                        bottom: 0
                        opacity: 1

            .carousel_wrapper:hover  
                .carousel_controls
                    opacity: 1
    
    .circular_progress
        position: relative
        height: 30px
        width: 30px
        border-radius: 50%
        background: conic-gradient(#535bf2 100deg, transparent 0deg)
        display: flex
        justify-content: center
        align-items: center

        span
            position: relative
            color: #ededed
            font-size: 14px

    .circular_progress:before
        content: ""
        position: absolute
        width: 24px
        height: 24px
        border-radius: 50%
        background-color: rgba(9,1,37,0.9)

    .watch
        margin-left: 65px
        min-height: 100vh
        position: relative

        #close_trailer
            position: absolute
            width: 50px
            height: 50px
            background-color: transparent
            right: 100px
            top: 30px
            border: none
            font-size: 50px
            cursor: pointer
            
         
        .trailer_container
            position: fixed
            top: 0
            left: 0
            width: calc(100% + 65px)
            height: 100%
            background-color: rgba(0, 0, 0, 0.8) 
            z-index: 9999
            display: flex
            justify-content: center
            align-items: center

            .trailer
                width: 80%
                aspect-ratio: 16/9

        #go_back_btn
            position: absolute
            top: 15px
            left: 15px
            z-index: 3
            font-size: 40px
            width: 40px
            height: 40px
            border-radius: 50%
            background-color: transparent
            border: none
            display: flex
            justify-content: center
            align-items: center
            transition: 0.2s ease

        #go_back_btn:hover
            background-color: rgba(0, 0, 0, 0.8)
            cursor: pointer
            
        .movie_infos
            position: absolute
            bottom: 60px
            width: 100%
            display: flex
            justify-content: space-between
            align-items: center
            padding-inline: 150px

            .vote_container
                .circular_progress
                    width: 100px
                    height: 100px

                    span
                        font-size: 26px

                .circular_progress:before
                    width: 90%
                    height: 90%
                    background-color: #10162F
                    

            .infos_text
                max-width: 800px
                padding-right: 30px

                h2
                    text-transform: uppercase
                    font-size: 52px
                    font-weight: 700
                    margin-bottom: 10px

                p
                    font-size: 15px
                    font-weight: 400
                    color: rgba(255, 255, 255, 0.7)

                span
                    display: flex
                    margin-top: 20px
                    align-items: center

                    #slash
                        height: 25px
                        background-color: rgba(255, 255, 255, 0.7)
                        border: none
                        width: 2px
                        margin-right: 10px

                    span
                        text-transform: uppercase
                        font-size: 13px
                        letter-spacing: 1.5px
                        font-weight: 500
                        padding: 1px 6px
                        border: 2px solid #535bf2
                        color: rgba(255, 255, 255, 0.7)
                        border-radius: 2px
                        margin: 0
                        margin-right: 5px
                        text-align: center
                                
                    p
                        color: rgba(255, 255, 255, 0.8)
                        font-weight: 700
                        margin-right: 10px

        .link_trailer_container
            width: 100%
            text-align: center

            button
                width: 80%
                height: 60px
                background-color: transparent
                border: 2px solid #2d37eb
                margin: 0 auto
                font-size: 16px
                border-radius: 8px
                transition: 0.2s ease-in
                
                div
                    display: flex
                    justify-content: center
                    align-items: center
                    transition: 0.3s ease-in

                i
                    font-size: 25px
                    margin-left: 10px

                p, i
                    color: #2d37eb

            button:hover
                cursor: pointer
                background-color: #2d37eb

                div
                    

                    i, p
                        color: #ededed
                
                
                

            
