@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap')
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Inter', sans-serif
    color: rgba(255, 255, 255, 0.8)

body
    height: 100%

.app
    min-height: 100vh
    position: relative
    background-color: #10162f
        
    .navbar
            position: fixed
            left: 0
            top: 0
            height: 100vh
            background-color: #0a0e1f
            width: 65px
            display: flex
            flex-direction: column
            align-items: center
            padding-top: 40px

            .nav_links_container
                display: flex
                align-items: center
                height: 100%

                ul
                    transform: translateY(-90px)
                    display: flex
                    flex-direction: column
                    gap: 30px
                    list-style: none
                    
                    li

                        i, p
                            color: #535bf2
                            text-decoration: none
                        p
                            display: none
                        
                        i
                            font-size: 20px
    
    .home
        margin-left: 65px
        width: 100%
        min-height: 100vh
        background-color: #10162F
        max-width: calc(100% - 65px)

    .home, .watch

        .header_container::-webkit-scrollbar
            display: none
             
        .header_container
            width: 100%
            height: 750px
            overflow: hidden
            position: relative

            .header_controls
                

            .header_navigation
                position: absolute
                bottom: 50px
                left: 50%
                transform: translateX(-50%)
                z-index: 2
                display: flex
                gap: 10px
                    
                .nav_header
                    width: 85px
                    height: 25px
                    border-radius: 6px
                    border: 2px solid rgba(255, 255, 255, 0.8)
                    transition: 0.3s ease-out

                .nav_header:hover
                    cursor: pointer
                    background-color: rgba(255, 255, 255, 0.3)

                #slide1:checked + #s1
                    background-color: rgba(255, 255, 255, 0.8)    
            
            .header_wrapper
                height: 100%
                position: relative
                display: flex
                transition: 1s ease

                   
                .header_movie
                    height: 100%
                    min-width: 100%
                    background-size: cover
                    background-position: center
                    position: relative

                    .header_filter1
                        position: absolute    
                        left: 0
                        top: 0
                        width: 100%
                        height: 100%
                        background: rgb(2,0,36)
                        background: linear-gradient(90deg, rgba(16,22,47,1) 0%, rgba(63,94,251,0) 60%)
                    
                    .header_filter2
                        position: absolute    
                        left: 0
                        top: 0
                        width: 100%
                        height: 100%
                        background: rgb(2,0,36)
                        background: linear-gradient(0deg, rgba(16,22,47,1) 0%, rgba(63,94,251,0) 50%)
                    

                    .header_movie_infos
                        position: absolute
                        width: 50%
                        min-width: 500px
                        max-width: 750px
                        height: 100%
                        left: 0
                        top: 0
                        display: flex
                        flex-direction: column
                        justify-content: center
                        padding-left: 100px



                        h2
                            text-transform: uppercase
                            font-size: 52px
                            font-weight: 700
                            margin-bottom: 10px
                       
                        p 
                            font-size: 15px
                            font-weight: 400
                            color: rgba(255, 255, 255, 0.7)

                        span
                            display: flex
                            margin-top: 20px
                            align-items: center

                            #slash
                                height: 25px
                                background-color: rgba(255, 255, 255, 0.7)
                                border: none
                                width: 2px
                                margin-right: 10px

                            span
                                text-transform: uppercase
                                font-size: 13px
                                letter-spacing: 1.5px
                                font-weight: 500
                                padding: 1px 6px
                                border: 2px solid #535bf2
                                color: rgba(255, 255, 255, 0.7)
                                border-radius: 2px
                                margin: 0
                                margin-right: 5px
                            
                            p
                                color: rgba(255, 255, 255, 0.8)
                                font-weight: 700
                                margin-right: 10px
                                
                        
        .carousel_container::-webkit-scrollbar
            display: none
            
        .carousel_container
            margin-left: 20px
            position: relative

            h3  
                text-transform: uppercase
                font-weight: 500
                margin-left: 30px
                margin-bottom: 10px
            
            .carousel
                margin-bottom: 60px
            
            .carousel_wrapper
                border-radius: 20px
                overflow: hidden
                position: relative        
                
                .movies
                    display: flex
                    gap: 10px
                    transition: 1s ease
                #move_left
                    left: 0
                
                #move_right
                    right: 0
                    
                #move_left, #move_right
                    position: absolute
                    top: 0
                    z-index: 2
                    width: 55px
                    height: 100%
                    background-color: rgba(0, 0, 0, 0.7)
                    border: none
    
                    i
                        font-size: 26px
                        transition: 0.4s ease

                    button:hover
                        cursor: pointer 
                            
                    i
                        transform: scale(2)

                .movie
                    min-width: 390px
                    border-radius: 20px
                    overflow: hidden
                
                    img
                        width: 100%
                        height: 100%
                        transition: 0.3s ease

                .movie:hover
                    cursor: pointer

                    img
                        transform: scale(1.1)

            .carousel_wrapper:hover  
                .carousel_controls
                    opacity: 1

    .watch
        margin-left: 65px
        min-height: 100vh
        position: relative

        #go_back_btn
            position: absolute
            top: 15px
            left: 15px
            z-index: 3
            font-size: 40px
            width: 40px
            height: 40px
            border-radius: 50%
            background-color: transparent
            border: none
            display: flex
            justify-content: center
            align-items: center
            transition: 0.2s ease

        #go_back_btn:hover
            background-color: rgba(0, 0, 0, 0.8)
            cursor: pointer
            
        .movie_infos
            position: absolute
            bottom: 60px
            left: 50px
            max-width: 800px

            h2
                text-transform: uppercase
                font-size: 52px
                font-weight: 700
                margin-bottom: 10px

            p
                font-size: 15px
                font-weight: 400
                color: rgba(255, 255, 255, 0.7)

            span
                display: flex
                margin-top: 20px
                align-items: center

                #slash
                    height: 25px
                    background-color: rgba(255, 255, 255, 0.7)
                    border: none
                    width: 2px
                    margin-right: 10px

                span
                    text-transform: uppercase
                    font-size: 13px
                    letter-spacing: 1.5px
                    font-weight: 500
                    padding: 1px 6px
                    border: 2px solid #535bf2
                    color: rgba(255, 255, 255, 0.7)
                    border-radius: 2px
                    margin: 0
                    margin-right: 5px
                            
                p
                    color: rgba(255, 255, 255, 0.8)
                    font-weight: 700
                    margin-right: 10px

        .link_trailer_container
            width: 100%
            text-align: center

            button
                width: 80%
                height: 60px
                background-color: transparent
                border: 2px solid #2d37eb
                margin: 0 auto
                font-size: 16px
                border-radius: 8px
                
                div
                    display: flex
                    justify-content: center
                    align-items: center
                    color: #2d37eb

                i
                    font-size: 25px
                    color: #2d37eb
                    margin-left: 10px
            
